#side_nav{
    background: var(--background-color-grey);
    height: 100vh;
    width: 250px;
    color: var(--string-color-red);
    transition: all 0.2s;
  }
  
  .sidebar li.active{
    background-color: var(--selected-color-grey);
    border-radius: 8px;
  }
  
  .sidebar li.active a{
    color: var(--string-color-red);
    font-weight: 700;
  }
  
  .sidebar li a{
    color: white;
  }
  
  .sidebar li a:hover{
    font-weight: 700;
  }

  @media(max-width: 767px){
    #side_nav{
      margin-left: -250px;
      position: fixed;
      min-height: 100vh;
      z-index: 1;
    }
    #side_nav.active{
      margin-left: 0px;
    }
  }

.header-box{
  height: 130px;
  border-bottom: solid var(--selected-color-grey) 5px;
  background: url("https://res.cloudinary.com/deptrswzd/image/upload/v1701916695/night-landscape_pgm9xo.jpg");
}