.main-container{
    background-color: var(--body-color-black);
    color: white;
}

.chart-container{
    padding: 15px;
    margin-bottom: 5px;
    height: 180px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--background-color-grey);
}

.chart-container__chart{
    height: 150px;
    width: 150px;
}