.main-container{
    background-color: var(--body-color-black);
    color: white;
}

.chart-container{
    margin: 15px;
    padding: 15px;
    height: auto;
    width: 95%;
    border-radius: 10px;
    background-color: var(--background-color-grey);
}

.chart-container__chart{
    height: 200px;
    width: 200px;
}