/* You can add global styles to this file, and also import other style files */
:root{
    --background-color-grey: #2d353c;
    --string-color-red: #f04b46;
    --selected-color-grey: #24292e;
    --body-color-black: #161a1d;
    --hover-color-grey: #30373e;
}