<div class="record-card">
    <div class="row justify-content-center">
        <div class="col-auto p-1">
            <p>{{ account.name }}</p>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 ps-3 pe-3">
            <div class="container d-flex justify-content-between pt-1 pb-1">
                <p>Monto: <span>Q{{ account.amount }}</span></p>
                <p>Consumido <span>Q{{ account.spent }}</span></p>
            </div>
            <div class="container">
                <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
                    <div class="progress-bar progress-bar-striped bg-danger" [ngStyle]="{'width': account.percentage + '%'}"></div>
                </div>
            </div>
            <div class="container d-flex justify-content-between pt-1 pb-2">
                <p>Transacciones: {{ account.quantity }}</p>
                <p>Porcentaje: {{ account.percentage }}%</p>
            </div>
        </div>
    </div>
</div>
